// _header.scss

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f9fa; // Light grey background
    padding: 20px; // Padding around the header
    border-bottom: 1px solid #e0e0e0; // Light grey border at the bottom
}

nav {
    display: flex;
    justify-content: center;
    
    ul {
        display: flex;
        gap: 20vh;
        list-style: none;
        padding: 0;

        li {
            margin-right: 20px;


            a {
                text-decoration: none;
                color: black;
                font-size: 20px;
                font-family: 'Cinzel Decorative', serif;
                font-weight: 600;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}